dify-workflows/associate_workflow_v1.yml
app:
  description: 'Deal Bot Org-Sim: Associate persona — synthesizes analyst outputs into hypotheses, top unknowns, follow-up requests as validated strict JSON.'
  icon: "\U0001F9E0"
  icon_background: '#D5F5F6'
  mode: workflow
  name: associate_workflow_v1
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-source-assoc-llm-target
      selected: false
      source: start
      sourceHandle: source
      target: assoc-llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: assoc-llm-source-validate-code-target
      selected: false
      source: assoc-llm
      sourceHandle: source
      target: validate-code
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: validate-code-source-end-target
      selected: false
      source: validate-code
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'Collects deal data, analyst outputs, evidence, and optional retry prompt.'
        selected: false
        title: Start
        type: start
        variables:
        - label: Deal Input
          max_length: 5000
          options: []
          required: true
          type: paragraph
          variable: deal_input
        - label: Fund Config
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: fund_config
        - label: Persona Config
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: persona_config
        - label: Analyst Outputs
          max_length: 48000
          options: []
          required: true
          type: paragraph
          variable: analyst_outputs
        - label: Evidence JSON
          max_length: 48000
          options: []
          required: false
          type: paragraph
          variable: evidence_json
        - label: Company Profile
          max_length: 24000
          options: []
          required: false
          type: paragraph
          variable: company_profile
        - label: Retry Prompt
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: retry_prompt
      height: 220
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 'Associate LLM — forced JSON output mode.'
        model:
          completion_params:
            temperature: 0.25
            max_tokens: 3000
            response_format: json_object
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: assoc-sys-prompt
          role: system
          text: >
            You are a VC Associate synthesizing analyst research into an actionable investment thesis.


            ## TASK

            Review ALL analyst outputs below. Produce atomic hypotheses, top unknowns, and targeted follow-up requests.

            Return a single JSON object — no markdown, no explanation, no text outside the JSON.


            ## HARD CONSTRAINTS

            - hypotheses: array, MAX 6 items.
              Each: {"id": "h1", "text": "...", "support_evidence_ids": ["eid-..."], "risks": ["..."]}
              - "id" must be unique (h1, h2, ... h6).
              - If a hypothesis has no supporting evidence, add "NO_EVIDENCE" to risks.
              - risks: short bullet strings, not paragraphs.
            - top_unknowns: array of the MOST important unanswered questions.
              Each: {"question": "...", "why_it_matters": "..."}
              - Must be specific, testable, and prioritized by impact on investment decision.
            - requests_to_analysts: array of follow-up tasks.
              Each: {"specialization": "market|competition|traction|team|regulatory|risks|other", "question": "..."}
              - Only include if genuinely needed. Do not pad.
            - NO narrative. NO summaries. Atomic structured items ONLY.
            - Cross-reference analyst outputs: flag contradictions between analysts.


            ## OUTPUT SCHEMA (strict)

            {
              "hypotheses": [{"id": "h1", "text": "string", "support_evidence_ids": ["string"], "risks": ["string"]}],
              "top_unknowns": [{"question": "string", "why_it_matters": "string"}],
              "requests_to_analysts": [{"specialization": "string", "question": "string"}]
            }


            {{#start.retry_prompt#}}
        - id: assoc-user-prompt
          role: user
          text: >
            ## DEAL INPUT

            {{#start.deal_input#}}


            ## FUND CONFIG

            {{#start.fund_config#}}


            ## PERSONA CONFIG

            {{#start.persona_config#}}


            ## ANALYST OUTPUTS (JSON array — one object per analyst)

            {{#start.analyst_outputs#}}


            ## COMPANY PROFILE (structured data from Specter — cite specter-* evidence_ids)

            {{#start.company_profile#}}


            ## EVIDENCE (JSON array)

            {{#start.evidence_json#}}


            Respond with ONLY the JSON object. No other text.
        selected: false
        title: Associate LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: assoc-llm
      position:
        x: 400
        y: 282
      positionAbsolute:
        x: 400
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\nimport re\n\ndef main(raw_text: str) -> dict:\n    cleaned = raw_text.strip()\n    cleaned = re.sub(r'^```(?:json)?\\s*', '', cleaned)\n    cleaned = re.sub(r'\\s*```$', '', cleaned)\n    cleaned = cleaned.strip()\n\n    try:\n        data = json.loads(cleaned)\n    except json.JSONDecodeError as e:\n        return {\n            \"result\": json.dumps({\n                \"hypotheses\": [],\n                \"top_unknowns\": [{\"question\": \"JSON parse failed\", \"why_it_matters\": str(e)}],\n                \"requests_to_analysts\": []\n            }),\n            \"valid\": \"false\",\n            \"error\": f\"JSON parse error: {str(e)}\"\n        }\n\n    # Enforce max lengths\n    hypotheses = data.get(\"hypotheses\", [])[:6]\n    # Ensure unique IDs\n    for i, h in enumerate(hypotheses):\n        if \"id\" not in h:\n            h[\"id\"] = f\"h{i+1}\"\n\n    top_unknowns = data.get(\"top_unknowns\", [])\n    requests = data.get(\"requests_to_analysts\", [])\n\n    # Validate specialization values\n    valid_specs = {\"market\", \"competition\", \"traction\", \"team\", \"regulatory\", \"risks\", \"other\"}\n    for r in requests:\n        if r.get(\"specialization\", \"\") not in valid_specs:\n            r[\"specialization\"] = \"other\"\n\n    validated = {\n        \"hypotheses\": hypotheses,\n        \"top_unknowns\": top_unknowns,\n        \"requests_to_analysts\": requests\n    }\n\n    return {\n        \"result\": json.dumps(validated),\n        \"valid\": \"true\",\n        \"error\": \"\"\n    }\n"
        code_language: python3
        desc: 'Parses LLM output, enforces max 6 hypotheses, validates specialization enums, returns clean JSON.'
        outputs:
          result:
            children: null
            type: string
          valid:
            children: null
            type: string
          error:
            children: null
            type: string
        selected: false
        title: Validate JSON
        type: code
        variables:
        - value_selector:
          - assoc-llm
          - text
          variable: raw_text
      height: 54
      id: validate-code
      position:
        x: 720
        y: 282
      positionAbsolute:
        x: 720
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Returns validated JSON result, validity flag, and any error.'
        outputs:
        - value_selector:
          - validate-code
          - result
          variable: result
        - value_selector:
          - validate-code
          - valid
          variable: valid
        - value_selector:
          - validate-code
          - error
          variable: error
        selected: false
        title: End
        type: end
      height: 90
      id: end
      position:
        x: 1040
        y: 282
      positionAbsolute:
        x: 1040
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
  hash: ''
